{% extends 'base.html' %}

{% block content %}
<ul class="list-articles">
	{% for r in recipes %}
			<li><div class="article-panel">
				<p class="first">Категория: {{ r.cat.name }}</p>
				<p class="last">Дата: {{ r.update_time|date:"d-m-Y H:i:s" }}</p>
				</div>
				<h2>{{r.title}}</h2>
    {% autoescape off %}
	{{r.description|linebreaks|truncatewords:40}}
    {% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ r.get_absolute_url }}">Читать рецепт</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
